<div class="container-fluid">
  <%# Barra de pesquisa %>

  <div class="col-md-4" style="z-index: 1; position: relative; background-color: #ffffff;">
    <div class="search-container p-3">
      <div class="input-group">
        <span class="input-group-text bg-dark">
          <i class="fas fa-search text-light"></i>
        </span>
        <%= form_with url: gyms_path, method: :get, class: "flex-grow-1" do |f| %>
          <%= f.text_field :query, 
              class: "form-control",
              placeholder: "Busque uma academia ou localização",
              value: params[:query] %>
        <% end %>
      </div>
    </div>

    <br>
    <%# Filtros %>
    <div class="filters-container mb-3" style="padding-left: 12px; background-color: #ffffff;">
      <button class="btn btn-outline-secondary">Filtre por plano</button>
      <button class="btn btn-outline-secondary">Distância</button>
      <button class="btn btn-outline-secondary">Modalidades</button>
      <button class="btn btn-outline-secondary">Comodidades</button>
    </div>

    <%# Lista de academias e mapa %>
      <%# Lista de academias - lado esquerdo %>
    <div class="gyms-list" style="background-color: #ffffff; padding-left: 12px">
      <p class="text-muted mb-4">Foram encontradas mais de <%= @gyms.count %> academias</p>
      
      <% @gyms.each do |gym| %>
        <div class="gym-card p-3 border rounded">
          <div class="d-flex gym-info">
            <%= image_tag(gym.photos.first, class: "gym-thumbnail me-3") if gym.photos.attached? %>
            <div>
              <h5 class="mb-1 gym-name"><%= gym.name %></h5>
              <p class="text-muted mb-1 gym-address"><%= gym.address.part_address %></p>
              <p class="text-muted">
                <i class="fas fa-location-dot"></i>
                <% marker = @markers.find { |m| m[:id] == gym.id } %>
                <% if marker && marker[:distance] %>
                  <%= "#{marker[:distance].to_s.gsub('.', ',')} km" %>
                <% else %>
                  Distância não disponível
                <% end %>
              </p>
              <p class="mb-0 mt-2 gym-plan">
                <small></small>
                Disponível a partir do TP <%= gym.plan %>
              </p>
            </div>
          </div>
        </div>
      <% end %>
    </div>
  </div>

  <%# Mapa - lado direito %>
  <div class="col-md-8" style="z-index: 0;">
    <%# debugger %>
    <div data-controller="map" data-map-markers-value="<%= @markers.to_json %>" style="position: absolute; height: 100%; width: 100%; padding: 0px; border-width: 0px; margin: 0px; left: 0px; top: 0px; touch-action: pan-x pan-y;"></div>
    <!--<div data-controller="" data-map-markers-value="<%= @markers.to_json %>" style="z-index: 0; position: absolute; height: 100%; width: 100%; padding: 0px; border-width: 0px; margin: 0px; left: 0px; top: 0px; touch-action: pan-x pan-y;"></div>-->
  </div>
</div>
