<div id="<%= dom_id gym_hour %>">
  <p>
    <strong>Gym:</strong>
    <%= gym_hour.gym_id %>
  </p>

  <p>
    <strong>Day of week:</strong>
    <%= gym_hour.day_of_week %>
  </p>

  <p>
    <strong>Opening time:</strong>
    <%= gym_hour.opening_time %>
  </p>

  <p>
    <strong>Closing time:</strong>
    <%= gym_hour.closing_time %>
  </p>

</div>
