<p style="color: green"><%= notice %></p>

<%= render @gym_hour %>

<div>
  <%= link_to "Edit this gym hour", edit_gym_hour_path(@gym_hour) %> |
  <%= link_to "Back to gym hours", gym_hours_path %>

  <%= button_to "Destroy this gym hour", @gym_hour, method: :delete %>
</div>
